* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  margin: auto;
  /* max-width: 1200px; */
  background-color: #e6ebe7;
}

header > img {
  width: 80px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'footer';
}

header {
  grid-area: header;
  margin: auto;
  margin-top: 5vh;
}

nav {
  grid-area: nav;
  margin: 30px auto;
}

nav > ul li {
  display: inline-block;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100px;
  padding: 0 12px;
  text-align: center;
}

nav > ul :nth-child(4) {
  border-right: none;
  text-align: start;
}

nav > ul :nth-child(1) {
  border-left: none;
  text-align: end;
}

a {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 0.9em;
}

a:link {
  text-decoration: none;
  color: rgb(25, 10, 82);
}

a:visited {
  text-decoration: none;
  color: rgb(25, 10, 82);
}

a:hover {
  color: rgb(16, 109, 109);
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    'about-title'
    'about-text';
  justify-items: center;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 800px;
  color: rgb(7, 48, 42);
}

.logo {
  margin-top: 40px;
  display: flex;
  grid-area: logo;
  justify-content: end;
  margin-right: 40px;
}

.logo > img {
  max-width: 40px;
}

.copy {
  grid-area: copy;
  align-self: flex-end;
}

footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'logo copy';
  margin-bottom: 20px;
}

main > h2 {
  grid-area: about-title;
  margin-bottom: 20px;
}

main > p {
  grid-area: about-text;
}

@media (max-width: 540px) {
  nav {
    font-size: 2.5vw;
    grid-area: nav;
    margin: 10px auto;
  }

  nav > ul li {
    display: inline-block;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 18vw;
    text-align: center;
  }

  nav > ul :nth-child(4) {
    border-right: none;
  }

  nav > ul :nth-child(1) {
    border-left: none;
  }
}
