* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  margin: auto;
  /* max-width: 1200px; */
  background-color: #e6ebe7;
}

header > img {
  width: 80px;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  grid-template-areas:
    'header header header header header header'
    'nav nav nav nav nav nav'
    'main main main main main main'
    'footer footer footer footer footer footer';
}

header {
  grid-area: header;
  margin: auto;
  margin-top: 5vh;
}

nav {
  grid-area: nav;
  margin: 30px auto;
  padding-left: 40px;
}

nav > ul li {
  display: inline-block;
  margin: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

nav > ul :nth-child(4) {
  border-right: none;
}

nav > ul :nth-child(1) {
  border-left: none;
}

a {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 0.9em;
}

a:link {
  text-decoration: none;
  color: rgb(25, 10, 82);
}

a:visited {
  text-decoration: none;
  color: rgb(25, 10, 82);
}

a:hover {
  color: rgb(16, 109, 109);
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'promo promo promo'
    'div-art div-art div-art';
  justify-items: center;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.div-articles {
  grid-area: div-art;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr;
  grid-template-areas:
    'services services services'
    'left middle right';
  max-width: 90vw;
  column-gap: 20px;
}

.services {
  padding: 30px;
  grid-area: services;
  align-content: center;
  color: rgb(7, 48, 42);
}

.promo {
  grid-area: promo;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 90vw;
  box-shadow: 3px 5px 15px rgb(30, 75, 47);
  border-radius: 20px;
  margin-bottom: 10px;
}

.promo img {
  max-height: 100%;
  max-width: 100%;
  min-width: 500px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.promo > h2 {
  padding: 15px;
  background-color: rgba(51, 196, 177, 0.171);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: rgb(7, 48, 42);
}

.text {
  font-size: 2vw;
  position: absolute;
  color: white;
  top: 16%;
  left: 3%;
  /* transform: translate(0%, -5%); */
  text-align: left;
  text-shadow: 2px 2px 5px rgb(14, 11, 8);
}

.text li {
  margin: 10px 0;
  list-style-type: none;
}

.art {
  border-radius: 20px;
  align-content: center;
  max-width: 100vw;
  background-color: rgba(51, 196, 177, 0.171);
  box-shadow: 3px 7px 10px rgb(30, 75, 47);
}

.art-left {
  max-width: 33vw;
  display: grid;
  grid-area: left;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas:
    'heading-le'
    'img-le'
    'art-text';
}

.art-middle {
  max-width: 33vw;
  display: grid;
  grid-area: middle;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas:
    'heading-mi'
    'img-mi'
    'art-text';
}

.art-right {
  max-width: 33vw;
  display: grid;
  grid-area: right;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas:
    'heading-ri'
    'img-ri'
    'art-text';
}

.art-left > img {
  grid-area: img-le;
  align-content: center;
  max-width: 100%;
}

.art-middle > img {
  align-content: center;
  grid-area: img-mi;
  max-width: 100%;
}

.art-right > img {
  align-content: center;
  grid-area: img-ri;
  max-width: 100%;
}

.art-right > h3 {
  grid-area: heading-ri;
}
.art-middle > h3 {
  grid-area: heading-mi;
}
.art-left > h3 {
  grid-area: heading-le;
}

.art > h3 {
  align-self: center;
  color: rgb(7, 48, 42);
}

.art img {
  box-sizing: border-box;
}

.art-text {
  grid-area: art-text;
  color: rgb(7, 48, 42);
}

.logo {
  display: flex;
  grid-area: logo;
  justify-content: center;
  margin-right: 20px;
}

.logo > img {
  max-width: 40px;
}

.copy {
  grid-area: copy;
  align-self: flex-end;
}

footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'logo copy';
  margin-bottom: 20px;
}

.art:hover {
  box-shadow: 3px 7px 30px rgb(30, 75, 47);
  transition: 0.75s;
}

.promo:hover {
  box-shadow: 3px 7px 30px rgb(30, 75, 47);
  transition: 0.75s;
}

.art-text {
  font-size: 1.5vw;
  align-self: center;
  padding: 5px;
}
