* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  margin: auto;
  background-color: #e6ebe7;
}

/* Container for all 4 areas */

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'footer';
}

/* Header styles */

header > img {
  width: 80px;
}

header {
  grid-area: header;
  margin: auto;
  margin-top: 5vh;
}

/* Nav styles */

nav {
  grid-area: nav;
  margin: 30px auto;
}

nav > ul li {
  display: inline-block;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100px;
  padding: 0 12px;
  text-align: center;
}

nav > ul :nth-child(4) {
  border-right: none;
  text-align: start;
}

nav > ul :nth-child(1) {
  border-left: none;
  text-align: end;
}

a {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 0.9em;
  text-decoration: none;
  color: rgb(25, 10, 82);
}

a:hover {
  color: rgb(16, 109, 109);
}

/* Main styles */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'promo promo promo'
    'div-art div-art div-art';
  justify-items: center;
  text-align: center;
  margin: 20px 0 10px 0;
}

.promo {
  grid-area: promo;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90vw;
  max-width: 1200px;
  box-shadow: 3px 5px 15px rgb(30, 75, 47);
  border-radius: 20px;
  margin-bottom: 10px;
}

.promo img {
  max-height: 100%;
  max-width: 100%;
  min-width: 500px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.promo > h2 {
  padding: 15px;
  background-color: rgba(51, 196, 177, 0.171);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: rgb(7, 48, 42);
}

.text {
  font-size: 2.5vw;
  position: absolute;
  color: white;
  top: 20%;
  left: 3%;
  transform: translate(0%, -5%);
  text-align: left;
  text-shadow: 2px 2px 5px rgb(14, 11, 8);
}

.text li {
  margin: 10px 0;
  list-style-type: none;
}

.services {
  padding: 30px;
  grid-area: services;
  align-content: center;
  color: rgb(7, 48, 42);
}

.div-articles {
  grid-area: div-art;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr;
  grid-template-areas:
    'services services services'
    'left middle right';
  max-width: 90vw;
  column-gap: 5vw;
}

.art {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: rgba(51, 196, 177, 0.171);
  box-shadow: 3px 7px 10px rgb(30, 75, 47);
  border-radius: 20px;
  transition: 0.75s;
}

.art:hover,
.promo:hover {
  box-shadow: 3px 7px 30px rgb(30, 75, 47);
}

.art > h3 {
  color: rgb(7, 48, 42);
  padding: 20px;
}

.art > .art-text {
  color: rgb(7, 48, 42);
  margin-top: 10px;
  padding: 10px;
  font-size: 2vw;
}

.art > img {
  width: 100%;
}

/* Footer styles */

footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'logo copy';
  margin: 40px 0 20px 0;
}

.logo {
  display: flex;
  grid-area: logo;
  justify-content: center;
  margin-right: 20px;
}

.logo > img {
  max-width: 40px;
}

.copy {
  grid-area: copy;
  align-self: flex-end;
}

/* For smaller/mobile displays */

@media (max-width: 540px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
      'header header'
      'nav nav'
      'main main'
      'footer footer';
  }

  nav {
    font-size: 3vw;
    grid-area: nav;
    margin: 10px auto;
    max-width: 100vw;
  }

  nav > ul li {
    display: inline-block;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 18vw;
    padding: 0px 2vw;
    text-align: center;
  }

  nav > ul :nth-child(4) {
    border-right: none;
  }

  nav > ul :nth-child(1) {
    border-left: none;
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'promo promo promo'
      'div-art div-art div-art';
    justify-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .promo {
    grid-area: promo;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    margin-bottom: 10px;
    border-radius: 0;
  }

  .promo img {
    width: 100vw;
    min-width: 0;
    border-radius: 0;
    box-shadow: 3px 5px 10px rgb(30, 75, 47);
  }

  .promo > h2 {
    border-radius: 0;
    padding: 15px;
    background-color: rgba(51, 196, 177, 0.171);
  }

  .text {
    font-size: 10px;
    position: absolute;
    color: white;
    top: 25%;
    left: 3%;
    -webkit-text-stroke: 0.5px #bfcac1;
    text-align: left;
  }

  .text li {
    margin: 10px 0;
    list-style-type: none;
  }

  .art {
    border-radius: 10px;
    margin: 10px;
    align-content: center;
    max-width: 80vw;
    box-shadow: 3px 5px 10px rgb(30, 75, 47);
  }

  .services {
    margin: 10px 0;
  }

  .art h3 {
    font-size: 4vw;
  }

  header {
    margin-top: 20px;
  }

  .copy {
    font-size: 0.5em;
    margin-right: 4vw;
  }

  .logo > img {
    width: 5vw;
  }

  .div-articles {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      'services'
      'left'
      'middle'
      'right';
  }

  .art-left,
  .art-middle,
  .art-right {
    max-width: 100%;
  }

  .promo img {
    min-width: auto;
  }

  .promo > h2 {
    font-size: 1.5em;
  }

  .text {
    font-size: 3vw;
  }

  .art > .art-text {
    font-size: 4vw;
    align-items: center;
    padding: 10px;
  }

  .art-left {
    display: grid;
    grid-area: left;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.5fr 0.75fr;
    grid-template-areas:
      'heading-le'
      'img-le'
      'art-text';
  }

  .art-middle {
    display: grid;
    grid-area: middle;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.5fr 0.75fr;
    grid-template-areas:
      'heading-mi'
      'img-mi'
      'art-text';
  }

  .art-right {
    display: grid;
    grid-area: right;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.5fr 0.75fr;
    grid-template-areas:
      'heading-ri'
      'img-ri'
      'art-text';
  }
}

/* For full-screen window */

@media (min-width: 1000px) {
  .text {
    font-size: 28px;
    position: absolute;
    color: white;
    top: 16%;
    left: 3%;
    transform: translate(0%, -5%);
    text-align: left;
    text-shadow: 2px 2px 5px rgb(14, 11, 8);
  }

  .art {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: rgba(51, 196, 177, 0.171);
    box-shadow: 3px 7px 10px rgb(30, 75, 47);
    border-radius: 20px;
  }

  .art > h3 {
    color: rgb(7, 48, 42);
    padding: 20px;
    font-size: 28px;
  }

  .art > .art-text {
    color: rgb(7, 48, 42);
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
  }

  .art > img {
    width: 100%;
  }
}
