* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  max-width: 1400px;
}

header > img {
  width: 80px;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.5fr 0.25fr 2fr 0.25fr;
  gap: 10px;
  grid-template-areas:
    'header header header header header header'
    'nav nav nav nav nav nav'
    'main main main main main main'
    'footer footer footer footer footer footer';
}

header {
  grid-area: header;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
}

nav {
  grid-area: nav;
  margin: auto;
  border: 1px solid black;
}

nav > ul > li {
  display: inline-block;
  margin: 20px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'promo promo promo'
    'left middle right';
  justify-items: center;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
}

.promo {
  grid-area: promo;
  align-content: center;
  position: relative;
  max-width: 700px;
}

.promo img {
  max-height: 100%;
  max-width: 100%;
  min-width: 600px;
  border-radius: 20px;
  box-shadow: 3px 7px 10px rgb(30, 75, 47);
}

.promo > h2 {
  margin-bottom: 20px;
}

.promo > .text {
  font-size: 20px;
  position: absolute;
  color: white;
  top: 15%;
  left: 3%;
  -webkit-text-stroke: 0.1px;
  -webkit-text-stroke-color: black;
  text-align: left;
}

.art {
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px;
  align-content: center;
}

.art-left {
  grid-area: left;
}

.art-middle {
  grid-area: middle;
}

.art-right {
  grid-area: right;
}

.logo {
  display: flex;
  grid-area: logo;
  justify-content: center;
}

.copy {
  grid-area: copy;
}

footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'logo copy';
  justify-items: center;
  align-items: center;
}
